#privacy {
	.padding-10 {
		padding: 10px 0;
		h4 {
			color: #0FAF97;
		}
		ul {
			padding-top: 10px;
			li::marker {
				color: #0FAF97;
			}
		}
	}
	@media (max-width: 800px) {
		padding-left: 10%;
		padding-right: 10%;
	}
}
